*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border: 0;
    height: 1px;
   /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(26, 25, 25, 0.75), rgba(255, 255, 255, 0)); para probar*/
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
    margin: 2px 0px 2px 0px;

}

.no-decorations:visited, .no-decorations:link{
    color: rgb(92, 149, 194);
    text-decoration: none;
}

#seller{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}


#navbar{
    background-color: #0A1931;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;


}

#search_bar{
    display: flex;
    width: 30%;
    border-radius: 20px;
    border: solid 2px rgb(235, 229, 229);
    padding-left: 2%;
    background-color: white;
}

#search_bar input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    overflow: hidden;
}

#search_bar img{
    display: flex;
    align-items: center;
    width: 20px;
    height: auto;
    object-fit: cover;
    transform: scaleX(-1);

}




#profile_bar {
    display: flex;       
    align-items: center;   
    justify-content: center; 
    gap: 30px;           
 
 
  
    height: 100%;          
}


#profile_bar img {
    width: 40px;    
    height: 20px;     
    
    object-fit: contain;
    
    margin: 0;         
    cursor: pointer;
}

#logo {
    width: 120px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}


.vector_size {
    width: auto;
    height: auto;
    margin: 10px;
    object-fit: cover;
}

#logo_container{
    display: flex;
    align-items: center;
    color: rgb(92, 149, 194);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer
}

#logo_container p{
    margin: 15px 0px 10px 0px;
}



#profile_picture_container .arrow_size {
    width: auto;
    height: 5px;
    margin: 15px 2px 15px 2px;
    object-fit: cover;
}

#profile_bar #profile_picture {
    width: auto;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}

#profile_picture_container{
    transition: all 0.5s ease;
    position: relative;
}

#profile_status{
    position: absolute;
    display: none;
    width: 200px;
    max-width: 200px;
    right: 20px;
    background-color: #F6FAFD;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(74, 127, 167, 0.4);
    z-index: 4;
}

.show{
    display: block !important;
    -webkit-animation: scale-in-ver-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hide{
    display: block !important;
    -webkit-animation: scale-in-ver-top-reversed 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: scale-in-ver-top-reversed 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

#profile_status a{
    text-decoration: none;
}

#profile_status p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #0A1931;
    font-size: 16px;
    margin-bottom: 25px;
}

#bell_container{
    position: relative;
}

#notifications{
    display: none;
    position: absolute;
    overflow-y: auto;
    height: 250px;
    width: 500px;
    right: 20px;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(74, 127, 167, 0.4);
    z-index: 5;
   


}

.messages{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    margin: 20px 0px 20px 0px;
    height: 60%;
    width: 100%;
    padding-right: 5px;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(74, 127, 167, 0.4);
    z-index: 4;
    cursor: pointer
}

.row_message{
    display: flex; 
    flex-wrap: nowrap;

}

#notifications h2{
    font-size: 24px;
    color: #0A1931;
    margin-bottom: 15px;
}

#notifications::-webkit-scrollbar {
    width: 6px;
}
#notifications::-webkit-scrollbar-thumb {
    background-color: #B3CFE5;
    border-radius: 10px;
}

.message_style{
    height: 200px;
    font-size: 36px;
    color: rgba(10, 25, 49, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px;
}





/*-webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;*/ /*asi es como se llama en una clase */
/* ----------------------------------------------  esta animacion es para cuando presionas el boton de perfil y aparece el menu desplegable 
 * Generated by Animista on 2025-12-6 18:34:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

/*-webkit-animation: scale-in-ver-top-reversed 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: scale-in-ver-top-reversed 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;*/ /* asi es como se llama en una clase */
/* ---------------------------------------------- lo mismo de arriba pero esta es en reversa cuando presionas el boton de perfil por segunda vez y desaparece el menu desplegable
 * Generated by Animista on 2025-12-6 18:49:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top reversed
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-top-reversed {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top-reversed {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

