*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border: 0;
    height: 1px;
   /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(26, 25, 25, 0.75), rgba(255, 255, 255, 0)); para probar*/
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
    margin: 2px 0px 2px 0px;

}

.no-decorations:visited, .no-decorations:link{
    color: rgb(92, 149, 194);
    text-decoration: none;
}



#navbar{
    background-color: #0A1931;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;


}

#search_bar{
    display: flex;
    width: 30%;
    border-radius: 20px;
    border: solid 2px rgb(235, 229, 229);
    padding-left: 2%;
    background-color: white;
}

#search_bar input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    overflow: hidden;
}

#search_bar img{
    display: flex;
    align-items: center;
    width: 20px;
    height: auto;
    object-fit: cover;
    transform: scaleX(-1);

}




#profile_bar {
    display: flex;       
    align-items: center;   
    justify-content: center; 
    gap: 40px;           
 
 
  
    height: 100%;          
}


#profile_bar img {
    width: 24px;    
    height: 24px;     
    object-fit: contain;
    cursor: pointer;
    display: block;
}



#logo {
    width: 120px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}


.vector_size {
    width: auto;
    height: auto;
    margin: 10px;
    object-fit: cover;
}

.icon_radius{
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;

    object-fit: cover;
    
}

#logo_container{
    display: flex;
    align-items: center;
    color: rgb(92, 149, 194);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer
}

#logo_container p{
    margin: 15px 0px 10px 0px;
}



#profile_picture_container .arrow_size {
    width: auto;
    height: 5px;
    margin: 15px 2px 15px 2px;
    object-fit: cover;
}

#profile_bar #profile_picture {
    width: auto;
    height: 30px;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}

#profile_picture_container{
    transition: all 0.5s ease;
    position: relative;
    display: flex;           
    align-items: center;
}

#profile_status{
    position: absolute;
    display: none;
    width: 200px;
    max-width: 200px;
    right: 20px;
    top: 50px;
    background-color: #F6FAFD;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(74, 127, 167, 0.4);
    z-index: 4;
}

.show{
    display: block !important;
    -webkit-animation: scale-in-ver-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hide{
    display: block !important;
    -webkit-animation: scale-in-ver-top-reversed 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: scale-in-ver-top-reversed 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

#profile_status a{
    text-decoration: none;
}

#profile_status p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #0A1931;
    font-size: 16px;
    margin-bottom: 25px;
}

#bell_container{
    position: relative;
    display: flex;          
    align-items: center;    
    justify-content: center;

   
}

#notifications{
    display: none;
    position: absolute;
    overflow-y: auto;
    height: 300px;
    width: 400px;
    max-width: 90vw;
    right: 20px;
    top: 40px;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(74, 127, 167, 0.4);
    z-index: 5;
    


}

.notification_card {
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    
  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(0,0,0, 0.05); 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease; 
}

.messages{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0px 20px 0px;
    height: 100%;
    width: 100%;
    padding-right: 5px;
    padding: 20px;
    z-index: 4;
    cursor: pointer;
    padding: 10px;     
    background-color: transparent; 
    box-shadow: none;   
    border-radius: 0;
    
}

.row_message{
    display: flex; 
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#notifications h2{
    font-size: 24px;
    color: #0A1931;
    margin-bottom: 15px;
}

#notifications::-webkit-scrollbar {
    width: 6px;
}
#notifications::-webkit-scrollbar-thumb {
    background-color: #B3CFE5;
    border-radius: 10px;
}

.message_style{
    height: 200px;
    font-size: 36px;
    color: rgba(10, 25, 49, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px;
}

.course_style{
    width: 100%;
    height: 300px;
    font-size: 36px;
    color: rgba(10, 25, 49, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

}



#message_box{
    display: none;
    position: absolute;
    overflow-y: auto;
    height: 300px;
    width: 600px;
    max-width: 180vw;
    right: 20px;
    top: 40px;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(74, 127, 167, 0.4);
    z-index: 5;
}

.mail_box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0px 20px 0px;
    height: 100%;
    width: 100%;
    padding-right: 5px;
    padding: 20px;
    z-index: 4;
    cursor: pointer;
    padding: 10px;     
    background-color: transparent; 
    box-shadow: none;   
    border-radius: 0;
    
    
}

.message_card{
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    
  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(0,0,0, 0.05); 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease; 
}

#message_container{
    position: relative;
    display: flex;          
    align-items: center;    
    justify-content: center;
}




/*-webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;*/ /*asi es como se llama en una clase */
/* ----------------------------------------------  esta animacion es para cuando presionas el boton de perfil y aparece el menu desplegable 
 * Generated by Animista on 2025-12-6 18:34:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

/*-webkit-animation: scale-in-ver-top-reversed 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: scale-in-ver-top-reversed 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;*/ /* asi es como se llama en una clase */
/* ---------------------------------------------- lo mismo de arriba pero esta es en reversa cuando presionas el boton de perfil por segunda vez y desaparece el menu desplegable
 * Generated by Animista on 2025-12-6 18:49:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top reversed
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-top-reversed {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top-reversed {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@media (max-width: 770px) {
    #notifications {
        position: fixed;  
        top: 150px;       
        left: 10%;      
        transform: translateX(-50%);
        
        width: 90%;       
        right: auto;   
        max-height: 60vh; 
    }

    #message_box {
        position: fixed;  
        top: 150px;       
        left: 10%;      
        transform: translateX(-50%);
        
        width: 90%;       
        right: auto;   
        max-height: 60vh; 
    }

}

/*animacion de esqueleto*/

.skeleton {
    opacity: 0.7;
    animation: 
    skeleton-loading 1s ease-in-out infinite alternate,
    oscilating 3s ease-in-out infinite alternate;
    
  }

.skeleton_osc{
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background-color: hsl(200, 20%, 70%);
    opacity: 0.7;
    animation: skeleton-loading 1s ease-in-out infinite alternate;
    margin: 5px 0px 5px 0px;
  }

.skeleton_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: hsl(200, 20%, 70%);
    animation: skeleton-loading 1s ease-in-out infinite alternate;
}

.skeleton-text_line1{
    width: auto;
    height: 10px;
    border-radius: 5px;
    background-color: hsl(200, 20%, 70%);
    margin: 0px 50px 0px 50px;
}

.skeleton-text_line2{
    width: auto;
    height: 10px;
    border-radius: 5px;
    background-color: hsl(200, 20%, 70%);
    margin: 10px 80px 10px 80px;
}

.skeleton-text_line3{
    width: auto;
    height: 10px;
    border-radius: 5px;
    background-color: hsl(200, 20%, 70%);
    margin: 10px 10px 10px 10px;
}

.skeleton-text_line4{
    width: auto;
    height: 10px;
    border-radius: 5px;
    background-color: hsl(200, 20%, 70%);
    margin: 10px 30px 10px 30px;
}

.skeleton-text_line5{
    width: auto;
    height: 10px;
    border-radius: 5px;
    background-color: hsl(200, 20%, 70%);
    margin: 10px 100px 10px 100px;
}

.curso_img_skeleton{
    width: 100%;
    height: 200px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
    
}


  @keyframes oscilating {
    0% {
      transform: scaleX(100%);
    }
    50% {
      transform: scaleX(80%);
    }
    100% {
      transform: scaleX(100%);
    }
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }