:root {
    --primero: #0A1931;
    --segundo: #1A3D63;
    --tercero: #4A7FA7;
    --cuarto:  #B3CFE5;
    --blanco:  #ffffff;
}





.lateral {
    position: fixed;
    top: 100px;
    left: 0;
    height: calc(100vh - 100px);
    width: 260px;
    background-color: var(--primero);
    color: var(--blanco);
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: 900;
}

.menu { 
    list-style: none; 
    padding: 0; 
    margin: 30px 0 0 0; 
    display: flex; 
    flex-direction: column; 
    gap: 5px;
}

.menu a {
    text-decoration: none;
    display: block;
}

.opcion { 
    padding: 10px 15px; 
    border-radius: 8px; 
    color: var(--cuarto); 
    font-weight: 500; 
    cursor: pointer; 
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.opcion:hover, 
.opcion.activo { 
    background-color: var(--segundo); 
    color: var(--blanco); 
    transform: translateX(5px); 
    box-shadow: 0 4px 12px rgba(0,0,0,0.2); 
}

.inferior { 
    margin-top: auto; 
    padding-bottom: 20px;
}

.boton { 
    width: 100%; 
    background-color: var(--tercero); 
    color: var(--primero); 
    border: none; 
    padding: 15px; 
    border-radius: 8px; 
    font-weight: 700; 
    cursor: pointer; 
    transition: 0.3s; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
    font-family: 'Montserrat', sans-serif;
}

.boton:hover { 
    background-color: var(--blanco); 
    transform: translateY(-3px); 
}

@media (max-width: 900px) {
    .lateral { 
        display: none; 
    }
}