
:root {
    --primero: #0A1931; 
    --segundo: #1A3D63; 
    --tercero: #4A7FA7; 
    --cuarto:  #B3CFE5;
    --quinto:  #F6FAFD; 
    --blanco:  #ffffff;
    --verde:   #27ae60;
    --naranja: #e67e22;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--quinto); 
    color: var(--primero);
}

.contenedor {
    display: flex;
    margin-top: 10px; 
    max-width : 1600px;
    margin-left: auto;
    margin-right: auto;
}


.izq {
    width: 70%;
    background: var(--blanco);
    border-right: 1px solid var(--cuarto);
    min-height: calc(100vh - 100px);
}

/* video  */
.video-box {
    background: var(--primero); 
    padding: 0;
}
.video-box video {
    width: 100%;
    display: block;
    aspect-ratio: 16/9;
}
.titulo-video {
    padding: 20px;
    background: var(--blanco);
    border-bottom: 1px solid var(--quinto);
}
.titulo-video h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--primero);
    font-size: 22px;
}

/* Pestañas  */
.pestanas {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    border-bottom: 1px solid var(--cuarto);
    margin-top: 10px;
}
.boton {
    background: none;
    border: none;
    padding: 15px 5px;
    font-size: 16px;
    color: var(--tercero); 
    cursor: pointer;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}
.boton:hover { 
    color: var(--segundo);
}
.boton.activo {
    color: var(--primero);
    font-weight: 700;
    border-bottom: 3px solid var(--primero); 
}

/* Contenido de Pestañas */
.contenido-pestanas { 
    padding: 30px;
}
.info h3 {
    margin-top: 0; 
    font-family: 'Montserrat', sans-serif; 
    color: var(--segundo);
}

/* los recursos */
.lista-recursos { 
    list-style: none; 
    padding: 0; 
    line-height: 2.2; 
}
.lista-recursos i { 
    margin-right: 10px; 
    color: var(--tercero); 
}

/* anuncios */
.tarjeta-anuncio {
    border: 1px solid var(--cuarto);
    padding: 20px;
    border-radius: 12px;
    background: var(--quinto);
}
.profe { 
    display: flex; 
    align-items: center; 
    gap: 15px; 
    margin-bottom: 10px; 
}
.profe img { 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 2px solid var(--tercero); 
}
.fecha { 
    color: var(--tercero); 
}

/* reseñas */
.puntos { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    color: var(--naranja); 
    font-weight: bold; 
}
.grande { 
    font-size: 32px; 
    color: var(--primero); 
}
.comentario { 
    display: flex; 
    gap: 15px; 
    margin-top: 20px; 
}
.inicial { 
    width: 40px; 
    height: 40px; 
    background: var(--primero); 
    color: var(--blanco); 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-weight: bold; 
}
.estrellas-chicas { 
    color: var(--naranja); 
    font-size: 12px; 
}




.lateral {
  width: 30%;
    background: var(--blanco);
    border-left: 1px solid var(--cuarto);
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    height: 100vh; 
    overflow-y: auto;
}

/* cabecera de la lista */
.titulo-seccion {
    padding: 20px;
    background: var(--quinto);
    border-bottom: 1px solid var(--cuarto);
}
.titulo-seccion h3 {
    margin: 0;
    color: var(--primero);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.titulo-seccion small {
    color: var(--tercero);
    font-weight: bold;
}

/* lista general */
.lista {
    padding: 0;
}

.father_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: fle;
}

.seccion{
    list-style: none;
    margin: 0 auto;
    padding: 0.8rem;

}


.item {
    display: flex;
    gap: 15px;
    padding: 15px 20px;
    text-decoration: none;
    color: var(--primero);
    border-bottom: 1px solid var(--quinto);
    transition: 0.3s;
    cursor: pointer;
}

.item:hover {
    background: var(--quinto);
}



/* activo */
.item.activo {
    background: #eef6fc; 
    border-left: 5px solid var(--tercero);
}
.item.activo .titulo {
    font-weight: bold;
    color: var(--segundo);
}
.item.activo .icono {
    color: var(--tercero);
}

/* visto */
.item.visto .icono {
    color: var(--verde);
}
.item.visto .titulo {
    color: #889bb0; 
}


.icono {
    width: 25px;
    text-align: center;
    padding-top: 2px;
    color: var(--cuarto); 
    font-size: 14px;
}

.datos {
    display: flex;
    flex-direction: column;
}

.titulo {
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

.tiempo {
    font-size: 11px;
    color: var(--tercero);
    margin-top: 5px;
    font-weight: 500;
}

/* responsiva*/
@media (max-width: 900px) {
    .contenedor { 
        flex-direction: column; 
    }
    
    .izq, .lateral { 
        width: 100%; 
        height: auto; 
        border: none; 
    }

    .lateral {
        border-top: 1px solid var(--cuarto);
        position: relative;
        top: 0;
    }
}