*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #B3Cfe5;
    color: #333;
}

#navbar{
    background-color: #0A1931;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;


}

#search_bar{
    display: flex;
    width: 30%;
    border-radius: 20px;
    border: solid 2px rgb(235, 229, 229);
    padding-left: 2%;
    background-color: white;
}

#search_bar input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    overflow: hidden;
}

#search_bar img{
    display: flex;
    align-items: center;
    width: 20px;
    height: auto;
    object-fit: cover;
    transform: scaleX(-1);

}




#profile_bar {
    display: flex;       
    align-items: center;   
    justify-content: center; 
    gap: 30px;           
    
 
  
    height: 100%;          
}


#profile_bar img {
    width: 40px;    
    height: 20px;     
    
    object-fit: contain;
    
    margin: 0;         
    cursor: pointer;
}

#logo {
    width: 120px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}


.vector_size {
    width: auto;
    height: auto;
    margin: 10px;
    object-fit: cover;
}

#profile_bar #profile_picture {
    width: auto;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}

#grid_layout {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 3%;
    width: auto;
    height: 150vh;
  
}

.grid_1{
    grid-column:  1 / span 4;
    grid-row: 1/ span 2;
    background-color: #F6FAFD;
    border-radius: 20px;
    box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
    overflow-y: auto;

}





.grid_2{

    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.grid_3{
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.grid_1 h2{
    margin: 2%;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #0A1931;
    font-size: 24px;
    width: auto;
    z-index: 3;
}

.cuatro_cajas { /* esto es la caja de las 4 tarjetas (8 porque se duplican para crear el efecto) */
    padding: 20px 0px;
    -webkit-mask-image: linear-gradient( 90deg, transparent 0%, black 10%, black 90%, transparent 100% );
    mask-image: linear-gradient( 90deg, transparent 0%, black 10%, black 90%, transparent 100% );
    border-radius: 12%;
}





.course_card {
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    width: 280px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    flex-shrink: 0;
    will-change: transform;
}

.cuatro_cajas:hover .slider-track {
    animation-play-state: paused;
}

.slider-track {
    display: flex;
    gap: 20px;
    width: max-content;
    padding-right: 20px;
    animation: loop 10s linear infinite; /* ajusta la duracion segun sea necesario */
    z-index: 1;
}

@keyframes loop { /* este keyframe es para cuatro cajas cuando pasa de la pantalla y se empieze a repetir*/
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% / 4));
    }
}

.course_card:hover {
    transform: translateY(-10px); 
    z-index: 3;
    position: relative;
}

.card_header {
    position: relative; 
    width: 100%;
    height: 160px; 
}

.card_header img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #B3CFE5; 
    color: #0A1931;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.card_body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1; /* Empuja el footer hacia abajo si falta texto */
}

.card_body h3 {
    font-size: 16px;
    font-weight: 700;
    color: #0A1931;
    line-height: 1.4;
    margin-bottom: 5px;
    display: -webkit-box; 
    line-clamp: 3;  /*para cortar el texto si es muy largo */
    -webkit-line-clamp: 3; /* creo q esto es algo para otros navegadores */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card_body .author {
    font-size: 13px;
    color: #888;
    font-weight: 500;
}

.card_meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #555;
    margin-top: 10px;
}

.rating {
    font-weight: bold;
    color: #0A1931;
}


.card_footer {
    background-color: #B3CFE5;
    color: #0A1931;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}

.card_footer:hover {
    background-color: #9abdd6; 
}

#functions_container {
    position: relative;
    width: 100%;
    height: auto;
}

#functions_container .left{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%) scaleX(-1);

    font-size: 30px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 4;

}

#functions_container .right{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    font-size: 30px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 4;

}