*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border: 0;
    height: 1px;
   /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(26, 25, 25, 0.75), rgba(255, 255, 255, 0)); para probar*/
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
    margin: 2px 0px 2px 0px;

}

body {
    background-color: #B3Cfe5;
    color: #333;
}

#navbar{
    background-color: #0A1931;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;


}

#search_bar{
    display: flex;
    width: 30%;
    border-radius: 20px;
    border: solid 2px rgb(235, 229, 229);
    padding-left: 2%;
    background-color: white;
}

#search_bar input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    overflow: hidden;
}

#search_bar img{
    display: flex;
    align-items: center;
    width: 20px;
    height: auto;
    object-fit: cover;
    transform: scaleX(-1);

}




#profile_bar {
    display: flex;       
    align-items: center;   
    justify-content: center; 
    gap: 30px;           
 
 
  
    height: 100%;          
}


#profile_bar img {
    width: 40px;    
    height: 20px;     
    
    object-fit: contain;
    
    margin: 0;         
    cursor: pointer;
}

#logo {
    width: 120px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}


.vector_size {
    width: auto;
    height: auto;
    margin: 10px;
    object-fit: cover;
}

#profile_picture_container .arrow_size {
    width: auto;
    height: 5px;
    margin: 15px 2px 15px 2px;
    object-fit: cover;
}

#profile_bar #profile_picture {
    width: auto;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}

#grid_layout {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 3%;
    width: auto;
    height: 150vh;
  
}

.grid_1{
    grid-column:  1 / span 4;
    grid-row: 1/ span 2;
    background-color: #F6FAFD;
    border-radius: 20px;
    box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
    overflow-y: auto;

}





.grid_2{

    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow: hidden;
}

.grid_2 h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #0A1931;
    font-size: 24px;
    margin-bottom: 15px;
}

.cursos_actuales {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    height: 100%;
    padding-right: 5px; 
}

/* Estilo de la barra de scroll para este contenedor */
.cursos_actuales::-webkit-scrollbar {
    width: 6px;
}
.cursos_actuales::-webkit-scrollbar-thumb {
    background-color: #B3CFE5;
    border-radius: 10px;
}


.curso_actual {
    display: flex;
    align-items: center;
    background-color: #F6FAFD; 
    padding: 12px;
    border-radius: 15px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    cursor: pointer;
}

.curso_actual:hover {
    background-color: #fff;
    border-color: #B3CFE5;
    transform: translateX(5px); 
    box-shadow: 0 4px 10px rgba(10, 25, 49, 0.1);
}

.curso_img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.curso_info { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.curso_info h3 {
    font-size: 15px;
    color: #0A1931;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 1.2;
}


.progress_container {
    width: 100%;
    background-color: #dcebf7;
    border-radius: 10px;
    height: 6px;
    margin-bottom: 4px;
    overflow: hidden;
}

.progress_fill {
    height: 100%;
    background-color: #0A1931;
    border-radius: 10px;
    /* La anchura se define en el HTML con style="width: 45%" */
}

.progress_text {
    font-size: 11px;
    color: #666;
    align-self: flex-end;
    font-weight: 500;
}

.grid_3{
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.grid_1 h2{
    margin: 2%;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #0A1931;
    font-size: 24px;
    width: auto;
    z-index: 3;
}

.cuatro_cajas { /* esto es la caja de las 4 tarjetas (8 porque se duplican para crear el efecto) */
    padding: 20px 0px;
    -webkit-mask-image: linear-gradient( 90deg, transparent 0%, black 10%, black 90%, transparent 100% );
    mask-image: linear-gradient( 90deg, transparent 0%, black 10%, black 90%, transparent 100% );
    border-radius: 12%;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Edge */
    scrollbar-width: none;  /* Firefox */
}

.cuatro_cajas::-webkit-scrollbar {
    display: none;
}

.course_card {
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    width: 280px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    flex-shrink: 0;
    will-change: transform;
}

.cuatro_cajas:hover .slider-track {
    animation-play-state: paused;
}

.slider-track {
    display: flex;
    gap: 20px;
    width: max-content;
    padding-right: 20px;
   /* animation: loop 10s linear infinite; ya no sera necesario por el scroll*/
    z-index: 1;
}

.arrow{
    user-select: none;
    z-index: 10;
}

/* ----ELIMINADO-----
@keyframes loop { este keyframe es para cuatro cajas cuando pasa de la pantalla y se empieze a repetir
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% / 4));
    }
}
*/
.course_card:hover {
    transform: translateY(-10px); 
    z-index: 3;
    position: relative;
}

.card_header {
    position: relative; 
    width: 100%;
    height: 160px; 
}

.card_header img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #B3CFE5; 
    color: #0A1931;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.card_body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1; /* Empuja el footer hacia abajo si falta texto */
}

.card_body h3 {
    font-size: 16px;
    font-weight: 700;
    color: #0A1931;
    line-height: 1.4;
    margin-bottom: 5px;
    display: -webkit-box; 
    line-clamp: 3;  /*para cortar el texto si es muy largo */
    -webkit-line-clamp: 3; /* creo q esto es algo para otros navegadores */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card_body .author {
    font-size: 13px;
    color: #888;
    font-weight: 500;
}

.card_meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #555;
    margin-top: 10px;
}

.rating {
    font-weight: bold;
    color: #0A1931;
}


.card_footer {
    background-color: #B3CFE5;
    color: #0A1931;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}

.card_footer:hover {
    background-color: #9abdd6; 
}

#functions_container {
    position: relative;
    width: 100%;
    height: auto;
}

#functions_container .left{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%) scaleX(-1);

    font-size: 30px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 4;

}

#functions_container .right{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    font-size: 30px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 4;

}



.grid_3 {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.grid_3 h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #0A1931;
    font-size: 22px;
    margin-bottom: 20px;
}

.stats_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}


.quick_stats {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.stat_box {
    flex: 1;
    background-color: #F6FAFD;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.stat_number {
    font-size: 24px;
    font-weight: 700;
    color: #0A1931;
}

.stat_label {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

.stat_box.fire .stat_number {
    color: #e67e22; 
}


.chart_container {
    flex: 1; 
    background-color: #fff; 
    display: flex;
    flex-direction: column;
}

.chart_title {
    font-size: 14px;
    font-weight: 600;
    color: #888;
    margin-bottom: 15px;
}

.bar_chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%; 
    padding-bottom: 10px;
    border-bottom: 2px solid #F0F0F0;
}

.bar_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    gap: 8px;
}

.bar {
    width: 12px;
    background-color: #B3CFE5;
    border-radius: 20px;
    transition: height 1s ease-out; 
}


.bar.active {
    background-color: #0A1931;
    box-shadow: 0 0 10px rgba(10, 25, 49, 0.3);
}

.day {
    font-size: 12px;
    color: #888;
    font-weight: 600;
}

#profile_picture_container{
    transition: all 0.5s ease;
}

#profile_status{
    position: absolute;
    display: none;
    width: 100%;
    max-width: 200px;
    right: 20px;
    background-color: #F6FAFD;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(74, 127, 167, 0.4);
    z-index: 4;
}

.show{
    display: block !important;
    -webkit-animation: scale-in-ver-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hide{
    display: block !important;
    -webkit-animation: scale-in-ver-top-reversed 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: scale-in-ver-top-reversed 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

#profile_status a{
    text-decoration: none;
}

#profile_status p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #0A1931;
    font-size: 16px;
    margin-bottom: 25px;
}

#notifications{
    display: none;
    position: absolute;
    overflow-y: auto;
    height: 50%;
    right: 120px;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(74, 127, 167, 0.4);
    z-index: 5;
    max-width: 50%;


}

.messages{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    margin: 20px 0px 20px 0px;
    height: 30%;
    padding-right: 5px;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(74, 127, 167, 0.4);
    z-index: 4;
    cursor: pointer
}

.row_message{
    display: flex; 
    flex-wrap: wrap;
    max-width: 100%;

}

#notifications h2{
    font-size: 24px;
    color: #0A1931;
    margin-bottom: 15px;
}

#notifications::-webkit-scrollbar {
    width: 6px;
}
#notifications::-webkit-scrollbar-thumb {
    background-color: #B3CFE5;
    border-radius: 10px;
}

/*-webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;*/ /*asi es como se llama en una clase */
/* ----------------------------------------------  esta animacion es para cuando presionas el boton de perfil y aparece el menu desplegable 
 * Generated by Animista on 2025-12-6 18:34:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

/*-webkit-animation: scale-in-ver-top-reversed 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: scale-in-ver-top-reversed 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;*/ /* asi es como se llama en una clase */
/* ---------------------------------------------- lo mismo de arriba pero esta es en reversa cuando presionas el boton de perfil por segunda vez y desaparece el menu desplegable
 * Generated by Animista on 2025-12-6 18:49:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top reversed
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-top-reversed {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top-reversed {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}