*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #B3Cfe5;
    color: #333;
}

#navbar{
    background-color: #0A1931;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;


}

#search_bar{
    display: flex;
    width: 30%;
    border-radius: 20px;
    border: solid 2px rgb(235, 229, 229);
    padding-left: 2%;
    background-color: white;
}

#search_bar input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
}

#search_bar img{
    display: flex;
    align-items: center;
    width: 20px;
    height: auto;
    object-fit: cover;
    transform: scaleX(-1);

}




#profile_bar {
    display: flex;       
    align-items: center;   
    justify-content: center; 
    gap: 30px;           
    
 
  
    height: 100%;          
}


#profile_bar img {
    width: 40px;    
    height: 20px;     
    
    object-fit: contain;
    
    margin: 0;         
    cursor: pointer;
}

#logo {
    width: 120px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}


.vector_size {
    width: auto;
    height: auto;
    margin: 10px;
    object-fit: cover;
}

#profile_bar #profile_picture {
    width: auto;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}

#grid_layout {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
   
    width: auto;
    height: 150vh;
    border: solid 2px black;
}

.grid_1{
    grid-column:  1 / span 4;
    grid-row: 1/ span 2;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.grid_2{

    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.grid_3{
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}