#flex_layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 1.2rem;
}

#flex_layout h2, #flex_layout hr {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #0A1931;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    background-color: #e5f1fd;
    color: #333;
}

.course_style{
    height: 300px;
    font-size: 36px;
    color: rgba(10, 25, 49, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.tabs{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.filter_button{
    font-size: 0.9rem;
    color: white;
    background-color: #0A1931;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 15px 25px rgba(10, 25, 49, 0.1);
    transition: all 0.3s ease;
    text-decoration: none;
}

.cursos_actuales{
    font-size: 16px;
    color: #333;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 1.2rem;
    overflow-y: auto;

}

.cursos_actuales h3{
    white-space: normal;
    overflow-wrap: break-word; /* Si hay una palabra gigante, la corta para bajarla */
    word-wrap: break-word;
}

.progress_fill {
    height: 0.5rem;
    background-color: #0A1931;
    border-radius: 10px;
    transition: width 0.3s ease;
  
    /* La anchura se define en el HTML con style="width: 45%" */
}

.cursos_actuales::-webkit-scrollbar {
    width: 6px;
}
.cursos_actuales::-webkit-scrollbar-thumb {
    background-color: #B3CFE5;
    border-radius: 10px;
}

.curso_actual{
    display: flex;
    flex-direction: column;
    background-color: #F6FAFD; 
    border-radius: 15px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    cursor: pointer;
}

.curso_img{
    width: 100%;
    height: 200px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    
}

.curso_info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
}

.stats_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}


.quick_stats {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.stat_box {
    flex: 1;
    background-color: #F6FAFD;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.stat_number {
    font-size: 24px;
    font-weight: 700;
    color: #0A1931;
}

.stat_label {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

.stat_box.fire .stat_number {
    color: #e67e22; 
}


.chart_container {
    flex: 1; 
    background-color: #fff; 
    display: flex;
    flex-direction: column;
}

.chart_title {
    font-size: 14px;
    font-weight: 600;
    color: #888;
    margin-bottom: 15px;
}

.bar_chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%; 
    padding-bottom: 10px;
    border-bottom: 2px solid #F0F0F0;
}

.bar_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    gap: 8px;
}

.bar {
    width: 12px;
    background-color: #B3CFE5;
    border-radius: 20px;
    transition: height 1s ease-out; 
}


.bar.active {
    background-color: #0A1931;
    box-shadow: 0 0 10px rgba(10, 25, 49, 0.3);
}

.day {
    font-size: 12px;
    color: #888;
    font-weight: 600;
}

/*animacion de esqueleto*/

.skeleton {
    opacity: 0.7;
    animation: 
    skeleton-loading 1s ease-in-out infinite alternate,
    oscilating 3s ease-in-out infinite alternate;
    
  }

.skeleton_osc{
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background-color: hsl(200, 20%, 70%);
    opacity: 0.7;
    animation: skeleton-loading 1s ease-in-out infinite alternate;
    margin: 5px 0px 5px 0px;
  }

.skeleton-text_line1{
    width: auto;
    height: 10px;
    border-radius: 5px;
    background-color: hsl(200, 20%, 70%);
    margin: 0px 50px 0px 50px;
}

.skeleton-text_line2{
    width: auto;
    height: 10px;
    border-radius: 5px;
    background-color: hsl(200, 20%, 70%);
    margin: 10px 80px 10px 80px;
}

.skeleton-text_line3{
    width: auto;
    height: 10px;
    border-radius: 5px;
    background-color: hsl(200, 20%, 70%);
    margin: 10px 10px 10px 10px;
}

.skeleton-text_line4{
    width: auto;
    height: 10px;
    border-radius: 5px;
    background-color: hsl(200, 20%, 70%);
    margin: 10px 30px 10px 30px;
}

.skeleton-text_line5{
    width: auto;
    height: 10px;
    border-radius: 5px;
    background-color: hsl(200, 20%, 70%);
    margin: 10px 100px 10px 100px;
}

.curso_img_skeleton{
    width: 100%;
    height: 200px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
    
}


  @keyframes oscilating {
    0% {
      transform: scaleX(100%);
    }
    50% {
      transform: scaleX(80%);
    }
    100% {
      transform: scaleX(100%);
    }
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }