*{
    font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#fondo {
  background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?q=80&w=1600&auto=format&fit=crop'),
                    linear-gradient(rgba(10,25,49,0.5), rgba(10,25,49,0.5));
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#registro {
  background-color: #F6FAFD;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(74, 127, 167, 0.4);
}

h2 {
  text-align: center;
  color: #1A3D63;
  margin-bottom: 25px;
  font-size: 1.6em;
  border-bottom: 2px solid #B3CFE5;
  padding-bottom: 10px;
}

.columnas {
  display: flex;
  gap: 30px; /* espacio entre columnas */
}

.columna {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #1A3D63;
  font-weight: 600;
}

input {
  width: 90%;              /* no tan largos */
  max-width: 250px;        /* límite de ancho */
  padding: 12px 8px;
  margin-bottom: 30px;     /* más espacio entre campos */
  border: none;
  border-bottom: 2px solid #B3CFE5;
  background-color: transparent;
  color: #0A1931;
  font-size: 1em;
}

input:focus {
  border-bottom: 2px solid #4A7FA7;
  outline: none;
}

#boton {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #1A3D63, #4A7FA7);
  color: #F6FAFD;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

#boton:hover {
  opacity: 0.9;
}

#texto {
  margin-top: 25px;
  text-align: center;
  color: #0A1931;
  font-size: 0.9em;
}

#sociales {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icono {
  background-color: #B3CFE5;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.icono:hover   {
  background-color: #4A7FA7;
}
