.video-js.vjs-modern {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 16 / 9;
    display: block; 
    position: relative;
}

.video-js .vjs-control-bar {
    background-color: rgba(0, 0, 0, 0.6); 
}

.video-js .vjs-big-play-button {
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-size: 30px;
    position: absolute;
    margin: 0 !important;
    line-height: 80px;
    text-align: center;
    color: #fff;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}


.vjs-big-play-button .vjs-icon-placeholder::before {
    content: "" !important;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.4086 9.35258C23.5305 10.5065 23.5305 13.4935 21.4086 14.6474L8.59662 21.6145C6.53435 22.736 4 21.2763 4 18.9671L4 5.0329C4 2.72368 6.53435 1.26402 8.59661 2.38548L21.4086 9.35258Z' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
    background-color: rgba(0, 0, 0, 0.8);

  transition: all 0.3s ease;
}